@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


:root{
    --cor-primaria:#000000;
    --cor-secundaria:#F6F6F6;
    --cor-terciaria:#14FB70;

    --fonte-primaria:'Krona One', sans-serif; 
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho{
    padding: 2% 0 0 20%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
    

}

.cabecalho__menu__link{

    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;  
    text-decoration: none

}
.cabecalho__menu__link:hover {
    color: #007bff;
}

.apresentacao {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 5% 20%;
    
}
.apresentacao__foto {
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner pai */
    height: auto; /* Mantém a proporção da imagem */
    margin-top: 20px; /* Adicionado para ajustar o posicionamento vertical */
    margin-bottom: 20px; /* Adicionado para ajustar o posicionamento vertical */
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-primaria);    
}

.apresentacao__conteudo__texto {
    font-size: 24;
    text-align: justify; 
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
   }

.apresentacao__links__subtitulo{

    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px; 

   }

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    /* text-align: center; */
    font-weight: 400;
    /* background-color: #14FB70; */
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    border-radius: 8px;
    padding: 21.5px 0;
    text-decoration: none;

}
.apresentacao__links__link:hover{

    background-color: var(--cor-terciaria); 
    color: var(--cor-primaria);
    font-weight: 600;
  
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}


.titulo-destaque {
    color: var(--cor-terciaria);
}


span {
    color: var(--cor-terciaria);
    border: 1px solid var(--cor-terciaria);
    padding: 1px;
}

button {
    background-color: green;
    color: var(--cor-secundaria);

}

p {
    color: var(--cor-secundaria);
}

a {
    color: DodgerBlue;

}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}

